/* Ajoutez ces styles à votre fichier CSS ou SCSS */

/* Style du formulaire d'édition */
.editmode {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour le champ de texte */
.editmodeinput[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style pour le sélecteur */
.editmodeselect {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style pour le bouton */
.edit-mode button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style pour le bouton au survol */
.edit-mode button:hover {
  background-color: #45a049;
}

.edit-mode {
  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: --var(--box-shadow);
  z-index: 1000;

  button {
    margin-top: 10px;
  }
}

.Encours {
  background-color: var(--primary);
  border-radius: var(--border-radius);
}

.termine {
  background-color: var(--green);
  border-radius: var(--border-radius);
}
