.container {
  display: flex;
}

.box {
  flex: 1;
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 10px;
  padding: 10px;
}

.Encours {
  background-color: var(--primary);
  border-radius: var(--border-radius);
}

.termine {
  background-color: var(--green);
  border-radius: var(--border-radius);
}
