.d-flex {
  display: flex;
}
.box {
  flex: 1;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
.justify-content-g {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.justify-content-d {
  justify-content: flex-end;
}
